<div class="book-element-container"> 
    <div><img src="/assets/book1.png" ></div>
    <div>Titre : {{book.name}}</div>
    <div>Categorie : {{book.category}}</div>
    <div *ngIf="isMine()" class="book-element">
        <button (click)="deleteBook(book.id)" class="btn btn-primary" >Supprimer</button>
    </div>

    <div *ngIf="isNotMine()" >
        <div>Proprietaire : {{book.user.lastname}} {{book.user.firstname}} ({{book.user.email}})</div>
        <div><button (click)="loanBook(book.id)" class="btn btn-primary" >Emprunter</button></div>
    </div>

</div>

