.books-container
{
    .books 
    {
        display: inline-block;
        margin-bottom: 25px;
        margin-right: 25px;

        .book 
        {
            margin-right: 20px;
        }
    }

}